*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color:green;
}
h3, h2{
    color:#4000ff;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#mySecondh1tag{
    color:blue;
}
.colorclass{
    color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
